<div class="container mt-3 col-md-6 col-offset-3">
    <h2>Formulaire d'inscription</h2>
    <p>If you want your form elements to appear side by side, use .row and .col:</p>
    <form [formGroup]="signinForm" (ngSubmit)="save()">
        <div class="mb-3 mt-3">
            <label for="login">Username:</label>
            <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username"
                name="username">
        </div>
        <div class="mb-3 mt-3">
            <label for="firstname">Prenoms:</label>
            <input type="text" formControlName="firstname" class="form-control" id="firstname" placeholder="Prenoms"
                name="firstname">
        </div>
        <div class="mb-3 mt-3">
            <label for="lastname">Nom:</label>
            <input type="text" formControlName="lastname" class="form-control" id="lastname" placeholder="Nom"
                name="lastname">
        </div>
        <div class="mb-3 mt-3">
            <label for="email">Email:</label>
            <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter email"
                name="email">
        </div>
        <!-- <div class="mb-3 mt-3">
            <label for="login">Email:</label>
            <input type="text" formControlName="login" class="form-control" id="login" placeholder="Enter email" name="login">
          </div>         -->
        <button type="submit" [disabled]="signinForm.invalid" class="btn btn-primary">S'inscrire</button>


    </form>
</div>
